html, body{
	font-family: 'Lato', sans-serif;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
	//background-color: #fff;
	background: rgba(255, 255, 255, 0.9); /* Green background with 30% opacity */
	width: 65%;

  margin: auto;
  padding: 10px;

}

.column {
  float: left;
  width: 50%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.buttonClick {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* form style */
* {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text], input[type=number] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* form style */



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
    text-align: center;
    letter-spacing: 5px;

}
